# ignore composer.lock
# depending on your deploy system, you may not want this
composer.lock

# keep everything installed by composer out of git
/digraph/vendor/
/digraph/core/
/digraph/modules/

# note that web/ is not ignored, this does mean that some
# code managed by DigraphProject\ScriptHandler is tracked,
# but it's better to allow tracking the other contents of
# the web root, in case owners want to serve static files
/web/index.php
/web/.htaccess

# keep storage and cache out of git
/digraph/cache/
/digraph/storage/

# explicitly disallow tracking digraph-debug-module
# this is so you can just manually install the debug module
# on your dev environment and never accidentally commit it
/modules/digraph_debug_module/

# ignore environment config
env.yaml
